.Card {
  height: 60vh;
  width: 45vh;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.07);
  border-radius: 2vh;
  margin: 2vw;
  cursor: pointer;
}

.Bgimg {
  margin-top: 5vh;
  margin-left: 9vh;
  height: 25vh;
  width: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}
.Bgimg img{
  height: 24vh;
  border-radius: 2vh;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.382);
}

.CardTitle {
  font-size: 19px;
  font-weight: 600;
  margin-left: 5vh;
  margin-top: 5vh;
}

.Organiser {
  color: #444;
  margin-bottom: 1vh;
  margin-left: 8vh;
}

.Organiser .Date {
  font-size: 12px;
  margin-left: 9vh;
}

.Desc {
  color: #444;
  margin: 0 5vh;
}