
.EventsPage{
    height: 100vh;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
}
.container{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}