.NavBar {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    height: 96px;
    width: 100vw;
    padding: 8px;
    align-items: center;
}
h1.HeadLine {
    margin-left: 16px;
    color: #0D0D57;
    font-weight: 450;
}