.container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
.subcontainer{
    margin-top: 5vh;
    background-color: #e8e0df;
    width: 80vw;
    border-radius: 2vh;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
img.pfp{
    margin-top: 13vh;
    margin-left: 5vh;
    height:25vh;
    width: 25vh;
    border-radius: 50%;
    object-fit: cover;
    -webkit-mask-image: radial-gradient(circle, #000 99%, transparent 100%);
  mask-image: radial-gradient(circle, #000 99%, transparent 100%);

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin-bottom: 0;
}
.details{
    margin-top: 13vh;
    margin-left: 20vh;
    display: flex;
    flex-direction: column;
}
.details p{
    margin-bottom: 2.5vh;
    font-size: 17px;
    margin-left: 5vh;
}

.details button{
    cursor: pointer;
    margin-top: 10vh;
    border: none;
    height: 5vh;
    width: 13vw;
    border-radius: 2vh;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.07)
}
