@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-weight: 250;
}

.heroText {
  text-align: center;
  font-size: 1.5rem;
  padding: 24px;
}
