.LoginDiv{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LoginDiv img{
    position: absolute;
    top: 4vh;
    left: 4vh;
    height: 10vh;
    width: auto;
    
}
button{
    height: 8vh;
    width: 24vh;
    border: 1px solid #ececee;
    cursor: pointer;
    border-radius: 2vh;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.07);
}